
:root {
    --color-primary: #C271FF;
    --color-white: white;
    --color-blue: #071629;
}

.hero-image {
    background-image: url(images/pic_1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    max-width: 100%;
    background-color: white;
}

.header img, footer img {
    width: 100px;
}
.header .smile-image, footer .smile-image {
    width: 40px;
}

.my-primary-button {
    border: 1px solid var(--color-primary);
    border-radius: 22px;
    background-color: var(--color-primary);
}

.my-primary-button:hover {
    opacity: 0.9;
}

.text-primary-color {
    color: var(--color-primary);
}

.carousel-especifications {
    background-color: var(--color-primary);
}

.carousel .carousel-control-prev-icon {
    background-image: url(./images/arrow_white_left.png);
}

.carousel .carousel-control-next-icon {
    background-image: url(./images/arrow_white_right.png);
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 2rem;
    height: 4rem;
}

 .carousel .carousel-videos .carousel-control-prev-icon {
    background-image: url(./images/arrow_black_left.png);
}

 .carousel .carousel-videos .carousel-control-next-icon {
    background-image: url(./images/arrow_black_right.png);
}
 .carousel-videos .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 2rem;
    height: 4rem;
}


.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
}

.video-background{
    position: relative;
  }

.smile-section {
      background-color: var(--color-blue);
}

/* Pricing styles */

.hero-image-pricing {
    background-image: url(images/pic_2.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    max-width: 100%;
    background-color: var(--color-blue);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--color-white);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--color-primary);
    text-decoration-line: underline;
    text-underline-offset: 2px;
    text-decoration-color: var(--color-white);
    text-decoration-style: solid;
}

.part-hero img {
    width: 150px;
}
.part-hero .smile-image {
    width: 40px;
}

.signal-logo {
    width: 80px;
}

/* Courses */
.hero-image-courses {
    background-image: url(images/pic_3.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    max-width: 100%;
    background-color: var(--color-blue);

}

.background-purple {
    background-color: var(--color-primary);
}

.hero-text-courses {
    font-family: Coiny;
}

.select-option a:hover{
    color: var(--color-primary);

}

.opacity-color {
    opacity: 0.5;
    color: var(--color-white);
}

.dropdown-toggle {
    opacity: 0.5;
    text-align: left;
    padding-right: 20px;
}